# Exclude all top-level files and directories
# (except addons/dijkstra-map) from zip downloads.
# This makes installing Gut through the AssetLib
# easier, because no files and folders need to
# be unchecked.

/.github                                                        export-ignore
/addons/gut                                                     export-ignore
/assets                                                         export-ignore
/dijkstra-map                                                   export-ignore
/dijkstra-map-gd                                                export-ignore
/project_examples                                               export-ignore
/tests                                                          export-ignore
/.git                                                           export-ignore
/.gitattributes                                                 export-ignore
/.gitignore                                                     export-ignore
/.gut_editor_config.json                                        export-ignore
/Cargo.toml                                                     export-ignore
/LICENSE                                                        export-ignore
/README.md                                                      export-ignore
/dijkstra[[:space:]]map[[:space:]]for[[:space:]]godot.csproj    export-ignore
/dijkstra[[:space:]]map[[:space:]]for[[:space:]]godot.sln       export-ignore
/icon.png                                                       export-ignore
/icon.png.import                                                export-ignore
/project.godot                                                  export-ignore
